#existing-user {
    padding-top: 1%;
}

.reg-container {
    background-color: white;
    box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.398);
    margin: 1% 0 1% 24%;
    padding: 3%;
    text-align: center;

    height: 680px;
    width: 800px;
    
}

.row {
    margin-bottom: 2%;
}

.signup-form {
    text-align: center;
}


/** FORM TEXTBOX **/

label {
    text-align: left;
    margin-bottom: 5px;
}

#college, #program {
    width: 15rem;
}

#pass, #confirm-pass {
    width: fit-content;
}

/** BUTTONS **/

#submit-btn:hover, #cancel-btn:hover {
    background-color: #faff00;
    color: black;
    font-weight: bolder;
}
