#blcis-logo {
    width: 8%;
    margin-bottom: 1%;
    margin-right: 2%;
}

#welc-school-text {
    font-family:'Work Sans', sans-serif;
}

.welc-container {
    background-color: white;
    box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.398);
    margin: 7% 30% 3%;
    padding: 3%;
    text-align: center;

    height: 500px;
    width: 600px;
}

#welc-txt {
    margin: 100px 0;
}

/** BUTTON **/
#logout-btn:hover {
    background-color: #faff00;
    color: black;
    font-weight: bolder;
}